<main class="resource sign_in wrap">
  <% if use_developer_strategy? %>
    <h1>Sign in</h1>

    <p>You can sign in by providing a stub user in the development environment.</p>
    <%= form_with url: "/auth/developer", method: :post do |form| %>
      <%= form.submit "Sign in (development)", class: "btn" %>
    <% end %>
  <% else %>
    <h1>Sign in</h1>

    <p>Sign in with your Google account to access <%= library_title %>.</p>
    <%= form_with url: "/auth/google", method: :post do |form| %>
      <%= form.submit "Sign in with Google", class: "btn" %>
    <% end %>
  <% end %>
</main>
