<li class="loan_status <%= copy.status.to_s %> <%= copy.current_user == current_user ? "my_copy" : "" %>
  <%= "missing" if copy.missing? %>">
  <% if local_assigns[:link_to_copy] %>
    <h2><%= link_to "##{copy.id}", copy_path(copy) %></h2>
  <% end %>

  <% if copy.on_loan? %>
    <p>
      On loan to <%= user_or_second_person copy.current_user, current_user %>

      <%= semantic_form_for [:return, copy], method: :post do |f| %>
        <ul>
          <%= f.input :location, as: :select, collection: Location.all, include_blank: "unknown", label: "Return to" %>

          <li><%= f.submit "Return" %></li>
        </ul>

      <% end %>

      <span class="since">since <%= copy.current_loan.loan_date.strftime("%b %d, %Y") %></span>
    </p>
  <% elsif copy.missing? %>
    <p>
      Not able to be borrowed
    </p>
  <% elsif copy.available? %>
    <p>
      Available to borrow
      <span class="location">
      <% if copy.location.present? %>
        (<%= copy.location.to_s %> - <%= link_to "edit", edit_copy_path(copy) %>)
      <% else %>
        (location unknown - <%= link_to "set", edit_copy_path(copy) %>)
      <% end %>
      </span>
      <%= link_to "Borrow", borrow_copy_path(copy), :class => 'btn', :method => :post %>
    </p>
  <% end %>
</li>
