<section class="resource wrap edit-copy">
  <h1><%= @book.title %></h1>

  <div class="copy-display">
    <div class="cover"><%= book_cover_tag @book, :size => "S" %></div>

    <dl class='copy-number'>
      <dt>Copy number</dt>
      <dd><%= @copy.id %></dd>
    </dl>
  </div>

  <%= semantic_form_for [@copy] do |f| %>
    <h3>Where is this copy?</h3>

    <fieldset class="location">
      <label>
        <%= f.input :location, as: :select, collection: Location.all, include_blank: "unknown" %>
      </label>
    </fieldset>

    <%= f.actions do %>
      <%= f.submit "Set location" %>
    <% end %>
  <% end %>
</section>
