<section class="single_book wrap">
  <h1><span class="book_reference">#<%= @copy.book_reference %></span> <%= @book.title %></h1>

  <p style="text-align: center;"><%= book_cover_tag @book, :size => "S" %></p>

  <% if @copy.missing? %>
    <div class="missing-notice">
      This copy has been reported missing.<br>
      If you find it, please <%= link_to "mark it as found", missing_copy_path(@copy), method: :delete %>.
    </div>
  <% end %>

  <ul class="copies">
    <%= render partial: "copy", locals: { copy: @copy, link_to_copy: false } %>
  </ul>

  <% if @previous_loans.any? %>
    <h2>Loan history</h2>
    <table class="history">
      <thead>
        <tr>
        <th>From</th>
        <th>Until</th>
        <th>Duration</th>
        <th>by</th>
      </thead>

      <% @previous_loans.each do |loan| %>
      <tr>
        <td><%= loan.loan_date.strftime("%e %B %Y") if loan.loan_date %></td>
        <td><%= loan.return_date.strftime("%e %B %Y") if loan.return_date %></td>
        <td><%= distance_of_time_in_words(loan.duration) if loan.duration %></td>
        <td>
          <%= link_to loan.user.name, user_path(loan.user) %>
          <% if loan.returned_by_another_user? %>
            <span class="returned-by">returned by <%= loan.returned_by.name %></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>

  <div class="actions">
    <ul>
      <li><%= link_to "See all copies of this book", book_path(@book) %></li>
      <li><%= link_to "Add another copy", new_book_copy_path(@book) %></li>

      <% unless @copy.missing? %>
        <li><%= link_to "Report this copy as missing", missing_copy_path(@copy), method: :put %></li>
      <% end %>
    </ul>
  </div>
</section>
