<section class="single_book wrap">
  <h1><span class="book_reference">#<%= @copy.book_reference %></span> <%= @book.title %></h1>

  <p style="text-align: center;"><%= book_cover_tag @book, :size => "S" %></p>

  <ul class="copies">
    <%= render partial: "copy", locals: { copy: @copy, link_to_copy: false } %>
  </ul>

  <% if @previous_loans.any? %>
    <h3>Loan history</h3>
    <table class="history">
      <% @previous_loans.each do |loan| %>
      <tr>
        <td><%= loan.loan_date.strftime("%e %B %Y") if loan.loan_date %> - <%= loan.return_date.strftime("%e %B %Y") if loan.return_date %></td>
        <td>
          <%= link_to loan.user.name, user_path(loan.user) %>
          <% if loan.returned_by_another_user? %>
            <span class="returned-by">returned by <%= loan.returned_by.name %></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>

  <nav class="actions">
    <ul>
      <li><%= link_to "See all copies of this book", book_path(@book) %></li>
      <li><%= link_to "Add another copy", new_book_copy_path(@book) %></li>
    </ul>
  </nav>
</section>
