<section class="single_book wrap">
  <h1><span class="book_reference">#<%= @copy.book_reference %></span> <%= @book.title %></h1>

  <p style="text-align: center;"><%= book_cover_tag @book, :size => "S" %></p>

  <% if @copy.available? %>
    <p class="loan_status available">Available to borrow <%= link_to "Borrow", borrow_copy_path(@copy), :class => 'btn', :method => :post %>
      <span class="clear"></span>
    </p>
  <% elsif @copy.current_user == current_user %>
    <p class="loan_status my_copy">On loan to you <span class="since">since <%= @copy.current_loan.loan_date.strftime("%b %d, %Y") %></span>
      <%= link_to "Return", return_copy_path(@copy), :class => 'btn', :method => :post if @copy.current_user == current_user %>
      <span class="clear"></span>
    </p>
  <% else %>
    <p class="loan_status on_loan">
      On loan to <%= @copy.current_user.name %> <span class="since">since <%= @copy.current_loan.loan_date.strftime("%b %d, %Y") %></span>
    </p>
  <% end %>

  <h3>Loan history</h3>
  <table class="history">
    <% if @previous_loans.any? %>
      <% @previous_loans.each do |loan| %>
      <tr>
        <td><%= loan.loan_date.strftime("%e %B %Y") if loan.loan_date %> - <%= loan.return_date.strftime("%e %B %Y") if loan.return_date %></td>
        <td><%= loan.user.name %></td>
      </tr>
      <% end %>
    <% end %>
  </table>

  <nav class="actions">
    <ul>
      <li><%= link_to "See all copies of this book", book_path(@book) %></li>
      <li><%= link_to "Add another copy", new_book_copy_path(@book) %></li>
    </ul>
  </nav>
</section>
