<li class="loan_status <%= copy.status.to_s %> <%= copy.current_user == current_user ? "my_copy" : "" %>">
  <h2><%= link_to "##{copy.book_reference}", copy_path(copy) %></h2>
  <% if copy.available? %>
    <p>Available to borrow <%= link_to "Borrow", borrow_copy_path(copy), :class => 'btn', :method => :post %></p>
  <% else %>
    <p>On loan to <%= copy.current_user == current_user ? "you" : copy.current_user.name %>
      <%= link_to "Return", return_copy_path(copy), :class => 'btn', :method => :post if copy.current_user == current_user %>
      <span class="since">since <%= copy.current_loan.loan_date.strftime("%b %d, %Y") %></span>
    </p>
  <% end %>
</li>
