<ul class="filters">
  <li class="filter">
    <h3>availability</h3>
    <ul>
      <li><%= filter_link "available", :availability, "available" %></li>
      <% Shelf.all.each do |shelf| %>
        <li><%= filter_link "- #{shelf}", :availability, "shelf_#{shelf.id}" %></li>
      <% end %>
      <li><%= filter_link "on loan", :availability, "on_loan" %></li>
      <li><%= filter_link "missing", :availability, "missing" %></li>
    </ul>
  </li>
  <li class="filter search-filter">
    <%= form_with url: "", method: :get do |form| %>
      <%= form.label :book_reference, "Search for a book by copy ID", hidden: true %>
      <%= form.text_field :q, value: params[:q], placeholder: "Search titles..." %>
      <%= form.submit "Search", class: "button btn" %>
    <% end %>
  </li>
</ul>
