<ul class="filters">
  <li class="filter">
    <div>availability</div>
    <ul>
      <li><%= filter_link "available", :availability, "available" %></li>
      <% Location.all.each do |location| %>
        <li><%= filter_link "- #{location}", :availability, "location_#{location.id}" %></li>
      <% end %>
      <li><%= filter_link "on loan", :availability, "on_loan" %></li>
      <li><%= filter_link "missing", :availability, "missing" %></li>
    </ul>
  </li>
  <li class="filter search-filter">
    <%= form_with url: "", method: :get do |form| %>
      <%= form.label :copy_id, "Search book titles", hidden: true %>
      <%= form.text_field :q, value: params[:q], placeholder: "Search titles..." %>
      <%= form.submit "Search", class: "button btn" %>
    <% end %>
  </li>
</ul>
