<ul class="filters">
  <li class="filter">
    <h3>availability</h3>
    <ul>
      <li><%= filter_link "available", :availability, "available" %></li>
      <li><%= filter_link "on loan", :availability, "on_loan" %></li>
      <li><%= filter_link "missing", :availability, "missing" %></li>
    </ul>
  </li>
  <li class="filter search-filter">
    <%= form_tag "", :method => :get do %>
      <%= text_field_tag :q, params[:q], :placeholder => "Search titles.." %>
      <%= button_tag "Search", name: nil %>
    <% end %>
  </li>
</ul>
