<section class="wrap edit">
  <h1>Edit book</h1>

  <%= semantic_form_for @book do |f| %>
    <%= f.inputs do %>
      <%= f.input :title %>
      <%= f.input :author %>
    <% end %>

    <%= f.inputs "Identifiers" do %>
      <%= f.input :isbn, :label => "ISBN", :placeholder => "ISBN" %>
      <%= f.input :google_id, :label => "Google Books ID", :placeholder => "Google Books ID" %>
      <%= f.input :openlibrary_id, :label => "Openlibrary ID", :placeholder => "Openlibrary ID" %>
    <% end %>

    <%= f.actions %>
  <% end %>
</section>
