<section class="resource wrap new-book">
  <h1>Add a book</h1>

  <%= semantic_form_for @book do |f| %>
    <%= f.inputs "Find by ISBN" do %>
      <%= f.input :isbn, label: "ISBN", placeholder: '(optional)' %>
      <%= f.button "Look up book details", class: 'isbn-lookup', name: 'intent', value: 'isbn-lookup' %>

      <p class="hint">We can try to fetch information about the book using its ISBN. You can review the information before the book is created.</p>
    <% end %>

    <%= f.inputs "Book details" do %>
      <%= f.input :title %>
      <%= f.input :author %>
      <%= f.input :google_id, label: "Google Books ID" %>
      <%= f.input :openlibrary_id, label: "OpenLibrary ID" %>
    <% end %>

    <%= f.actions do %>
      <%= f.action :submit, as: :button, label: 'Create book' %>
    <% end %>
  <% end %>
</section>

<script id="book-preview-template" type="text/html">
  <article id="book-preview">
    <img src="{{ covers.google }}" />
    <h1>{{ title }}</h1>
    <dl>
      <dt>Author</dt>
      <dd>{{ author }}</dd>
    </dl>
    <div class="clear"></div>
  </article>

  {{#creatable}}
    <div class="book-action creatable"><span>This book can be added to the library.</span> <input type="submit" value="Add to Library" class="btn" /></div>
  {{/creatable}}

  {{#exists}}
    <div class="book-action exists"><span>This book already exists in the library.</span> <a href="/books/{{ existing_book.id }}/copies/new" class='btn'>Add another copy</a></div>
  {{/exists}}
</script>
