<main class="single_book wrap">
  <div class="cover"><%= book_cover_tag @book, :size => "S" %></div>

  <div class="title">
    <h1><%= @book.title %></h1>
    <h2>by <%= @book.author %></h2>
  </div>

  <p><%= pluralize @book.copies.count, "copy" %></p>

  <ul class="copies">
    <%= render :partial => "copies/copy", :collection => @book.copies.ordered_by_availability, locals: { link_to_copy: true } %>
  </ul>

  <nav class="actions">
    <ul>
      <li><%= link_to "Edit this book's details", edit_book_path(@book) %></li>
      <li><%= link_to "Add another copy", new_book_copy_path(@book) %></li>
      <li><%= link_to "See revision history", history_book_path(@book) %></li>
    </ul>
  </nav>
</main>
