<main class="wrap two-column start">
  <div class="greeting">
    <h1>Welcome, <%= current_user.name %>!</h1>
    <span>You have <%= link_to "#{pluralize current_user.copies.count, 'book'} on loan", user_path(current_user) %> right now.</span>
  </div>

  <div class="book-lookup column left">
    <div class="start-form copy-lookup">
      <h2>Find a copy</h2>
      <%= form_with url: lookup_copy_index_path, method: :post do |form| %>
        <p>
          <%= form.label :book_reference, "Search for a book by copy ID", hidden: true %>
          <%= form.text_field :book_reference, placeholder: "Enter a copy ID..." %>
          <%= form.submit "Go", class: "btn" %>
        </p>
      <% end %>
    </div>

    <div class="start-form title-lookup">
      <h2>Search books by title</h2>
      <%= form_with url: books_path, method: :get do |form| %>
        <p>
          <%= form.label :q, "Search for a book by title", hidden: true %>
          <%= form.text_field :q, placeholder: "Search titles..." %>
          <%= form.submit "Go", class: "btn" %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="column right">
    <div class="recently-added">
      <h2>Recently added copies</h2>
      <%= render :partial => "books/copy_grid", :locals => { :copies => @recently_added_copies } %>
      <p style="text-align: center; "><%= link_to "View the whole collection", books_path, :class => "btn" %></p>
    </div>
  </div>

  <div class="recent-activity">
    <h2>Recent loans</h2>
    <ul>
      <% @recent_loans.each do |loan| %>
        <li><%= link_to loan.user.name, user_path(loan.user) %> borrowed <%= link_to "##{loan.copy.book_reference}: #{loan.book.title}", copy_path(loan.copy) %> <span class="timestamp"><%= distance_of_time_in_words_to_now loan.loan_date %> ago</span></li>
      <% end %>
    </ul>
  </div>
</main>
