<section class="wrap two-column start">
  <div class="greeting">
    <h1>Welcome, <%= current_user.name %>!</h1>
    <span>You have <%= link_to "#{pluralize current_user.copies.count, 'book'} on loan", user_path(current_user) %> right now.</span>
  </div>

  <div class="book-lookup column left">
    <div class="start-form">
      <h2>Find a copy</h2>
      <%= form_tag lookup_copy_index_path, :method => :post do %>
        <p>
          <%= text_field_tag :book_reference, nil, :placeholder => "Enter a copy ID..." %>
          <%= submit_tag "Go", :class => "btn" %>
        </p>
      <% end %>
    </div>

    <div class="start-form">
      <h2>Search books by title</h2>
      <%= form_tag book_list_path, :method => :get do %>
        <p>
          <%= text_field_tag :q, params[:q], :placeholder => "Search titles.." %>
          <%= submit_tag "Go", :class => "btn" %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="column right">
    <div class="recently-added">
      <h2>Recently added copies</h2>
      <%= render :partial => "books/copy_grid", :locals => { :copies => @recently_added_copies } %>
      <p style="text-align: center; "><%= link_to "View the whole collection", books_path, :class => "btn" %></p>
    </div>

<!--     <div class="browse">
      <h2>Browse the library</h2>
      <%= render :partial => "books/book_grid", :locals => { :books => @books } %>
    </div> -->
  </div>

  <div class="clear"></div>

  <div class="recent-activity">
    <h2>Recent loans</h2>
    <ul>
      <% @recent_loans.each do |loan| %>
        <li><%= link_to loan.user.name, user_path(loan.user) %> borrowed <%= link_to "##{loan.copy.book_reference}: #{loan.book.title}", copy_path(loan.copy) %> <span class="timestamp"><%= distance_of_time_in_words_to_now loan.loan_date %> ago</span></li>
      <% end %>
    </ul>
  </div>
</section>
