<!DOCTYPE html>
<html>
<head>
  <title>Books</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <h1><%= link_to "GDS Library", root_path %></h1>
    <% if current_user %>
      <div class="user">
        <h1><%= current_user.name %></h1>
        <ul>
          <li><%= link_to "my books", new_book_path %></li>
          <li><%= link_to "new book", new_book_path %></li>
          <li><%= link_to "sign out", sign_out_path %></li>
        </ul>
        <div class="clear"></div>
      </div>
    <% end %>
    <div class="clear"></div>
  </header>

  <% flash.each do |id, message| %>
  <div class="flash flash_<%= id %> wrap">
    <%= message %>
  </div>
  <% end %>

  <%= yield %>

</body>
</html>
